beautifulsoup4==4.13.3
pandas==2.2.3
Requests==2.32.3
selenium==4.21.0
selenium-wire==5.1.0
undetected-chromedriver==3.5.3
webdriver-manager==3.8.6 
scikit-learn==1.6.1
joblib
nltk
lxml_html_clean
newspaper3k
python-dotenv
sqlalchemy
psycopg2-binary
spacy
aiohttp
tenacity
spacy-lookups-data
imblearn
psutil

